<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="dismiss()">
        <ion-icon slot="icon-only" md="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      @if (!existingSubscription) {
        {{ 'TABS.OVERVIEW.ADD_SUBSCRIPTION' | translate }}
      } @else {
        {{ this.subscriptionForm.get('name').value }}
      }
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">
        <ion-icon slot="icon-only" md="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="subscriptionForm">
    <ion-list>
      <ion-list-header class="list-header">
        {{ 'TABS.OVERVIEW.GENERAL_INFORMATION' | translate }}
      </ion-list-header>

      <ion-item>
        <ion-label>{{ 'TABS.OVERVIEW.NAME' | translate }}</ion-label>
        <ion-input #nameInput style="text-align: end" type="text" name="name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'TABS.OVERVIEW.DESCRIPTION' | translate }}</ion-label>
        <ion-input style="text-align: end" type="text" name="description" formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>{{ 'TABS.OVERVIEW.COSTS' | translate }}</ion-label>
        <ion-input style="text-align: end" type="number" name="cost" value="3" formControlName="cost"></ion-input>
      </ion-item>

      <ion-item
        [color]="isPresetSelected ? (subscriptionForm.value.color | lowercase) : null"
        [style.--background]="isPresetSelected ? null : subscriptionForm.value.color"
        [style.--color]="isPresetSelected ? null : previewContrastHex">
        <ion-label>{{ 'TABS.OVERVIEW.TILE_COLOR' | translate }}</ion-label>
        <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" name="color" [value]="selectedColorOption" (ionChange)="onColorOptionChange($any($event).detail.value)">
          @for (color of colors; track color) {
            <ion-select-option [value]="color">{{ 'TABS.OVERVIEW.COLORS.'+color | uppercase | translate }}</ion-select-option>
          }
          <ion-select-option [value]="CUSTOM_COLOR">{{ 'TABS.OVERVIEW.COLORS.CUSTOM' | translate }}</ion-select-option>
        </ion-select>

        @if (!isPresetSelected) {
          <!-- native input so the WebView shows the OS colour picker -->
          <input
            slot="end"
            class="color-swatch"
            type="color"
            [value]="customColorValue"
            [style.background-color]="customColorValue"
            [style.border-color]="previewContrastHex"
            (input)="onCustomColorPicked($any($event.target).value)"
            [attr.aria-label]="'TABS.OVERVIEW.COLORS.CUSTOM' | translate" />
        }
      </ion-item>

      <ion-list-header class="list-header" style="margin-top: 1rem;">
        {{ 'TABS.OVERVIEW.BILLING' | translate }}
      </ion-list-header>

      <ion-item button="true" id="billing-start-trigger">
        <ion-label>{{ 'TABS.OVERVIEW.BILLING_START' | translate }}</ion-label>
        <ion-note slot="end">{{ subscriptionForm.get('billingStart').value | date: displayDateFormat }}</ion-note>
      </ion-item>
      <ion-modal trigger="billing-start-trigger" [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="billingStart"
            [max]="maxDate"
            [showDefaultButtons]="true"
            [cancelText]="'GENERAL.CANCEL' | translate"
          [doneText]="'GENERAL.DONE' | translate"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="8">

            <ion-item>
              <ion-label>{{ 'TABS.OVERVIEW.BILLING_EVERY' | translate }}</ion-label>
              <ion-input style="text-align: end" type="number" name="billingEvery" formControlName="billingEvery"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col class="ion-no-padding">

            <ion-item>
              <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" class="select-full-width" name="billingInterval" formControlName="billingInterval">
                @for (interval of availableBillingIntervals; track interval) {
                  <ion-select-option [value]="interval">{{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+interval | translate }}</ion-select-option>
                }
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-list-header class="list-header" style="margin-top: 1rem;">
        {{ 'TABS.OVERVIEW.CONTRACT' | translate }}
      </ion-list-header>

      <ion-item button="true" id="contract-start-trigger">
        <ion-label>{{ 'TABS.OVERVIEW.CONTRACT_START' | translate }}</ion-label>
        <ion-note slot="end">{{ subscriptionForm.get('contractStart').value | date: displayDateFormat }}</ion-note>
      </ion-item>
      <ion-modal trigger="contract-start-trigger" [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            presentation="date"
            formControlName="contractStart"
            [max]="maxDate"
            [showDefaultButtons]="true"
            [cancelText]="'GENERAL.CANCEL' | translate"
          [doneText]="'GENERAL.DONE' | translate"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="8">

            <ion-item>
              <ion-label>{{ 'TABS.OVERVIEW.MINIMUM_CONTRACT_DURATION' | translate }}</ion-label>
              <ion-input style="text-align: end" type="number" name="minimumContractDuration" formControlName="minimumContractDuration"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col class="ion-no-padding">

            <ion-item>
              <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" class="select-full-width" name="minimumContractDurationInterval" formControlName="minimumContractDurationInterval">
                @for (interval of availableBillingIntervals; track interval) {
                  <ion-select-option [value]="interval">{{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+interval | translate }}</ion-select-option>
                }
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="8">

            <ion-item>
              <ion-label>{{ 'TABS.OVERVIEW.EXTENSION_AFTER_MINIMUM_CONTRACT_DURATION' | translate }}</ion-label>
              <ion-input style="text-align: end" type="number" name="extensionAfterMinimumContractDurationEvery" formControlName="extensionAfterMinimumContractDurationEvery"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col class="ion-no-padding">

            <ion-item>
              <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" class="select-full-width" name="extensionAfterMinimumContractDurationInterval" formControlName="extensionAfterMinimumContractDurationInterval">
                @for (interval of availableBillingIntervals; track interval) {
                  <ion-select-option [value]="interval">{{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+interval | translate }}</ion-select-option>
                }
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-no-padding" size="8">

            <ion-item>
              <ion-label>{{ 'TABS.OVERVIEW.CANCELATION_PERIOD' | translate }}</ion-label>
              <ion-input style="text-align: end" type="number" name="cancelationPeriodEvery" formControlName="cancelationPeriodEvery"></ion-input>
            </ion-item>

          </ion-col>
          <ion-col class="ion-no-padding">

            <ion-item>
              <ion-select cancelText="{{ 'GENERAL.CANCEL' | translate }}" okText="{{ 'GENERAL.OK' | translate }}" class="select-full-width" name="cancelationPeriodInterval" formControlName="cancelationPeriodInterval">
                @for (interval of availableBillingIntervals; track interval) {
                  <ion-select-option [value]="interval">{{ 'TABS.OVERVIEW.CALENDAR_INTERVALS.'+interval | translate }}</ion-select-option>
                }
              </ion-select>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label position="floating">{{ 'TABS.OVERVIEW.NOTIFICATION_BEFORE_CANCELATION_PERIOD_IN_DAYS' | translate }}</ion-label>
        <ion-input type="number" name="notificationBeforeCancelationPeriodInDays" formControlName="notificationBeforeCancelationPeriodInDays"></ion-input>
      </ion-item>

    </ion-list>
  </form>

  @if (existingSubscription) {
    <ion-button expand="block" size="large" color="danger" style="padding-left: 8px; padding-right: 8px; font-size: medium;" (click)="showDeleteConfirmationModal()">{{ 'TABS.OVERVIEW.REMOVE_SUBSCRIPTION' | translate }}</ion-button>
  }
</ion-content>
